body{
    margin: 0;
    background-color: #E7EAEF;
    color: #217074;
}

.hero{
    background-color: #E7EAEF;
    color: #217074;
    height: 100vh;
    display: flex;

}

.alls{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    border: solid;
}

h1{
    margin: 0;
    font-size: 100px;
}

h2{
    margin: 0;
    font-size: 50px;
}

h3{
    margin: 0;
    font-size: 30px;
}

